<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
    <!--引用外部配置文件，注意标签顺序-->
    <properties resource="db.properties">
        <property name="username" value="root"/>
        <property name="password" value="111111"/>
    </properties>
    
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!--可以给实体类取别名，以下给出两种方式-->
    <!--<typeAliases>
        <typeAlias type="com.cwlin.pojo.User" alias="User"/>
    </typeAliases>-->
    <typeAliases>
        <package name="com.cwlin.pojo"/>
    </typeAliases>

    <environments default="test">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?userSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--每一个Mapper.xml都需要在MyBatis核心配置文件中注册！-->
    <mappers>
        <mapper resource="com/cwlin/dao/UserMapper.xml"/>
        <!--<mapper class="com.cwlin.dao.UserMapper"/>-->
        <!--<package name="com.cwlin.dao"/>-->
    </mappers>
</configuration>